<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Details</title>
</head>
<body>
    <span class ="theme">
        <i class="fa-solid fa-circle-half-stroke">Theme</i>
    </span>
    <h1>Here is your Note in detail</h1>
    <p style="text-decoration: solid black underline;"> Note id: <%= post.id  %></p>
    <div class="post">
        <div class="user" style="position: relative; top: -27px;">
            <h3> <%= post.username %></h3>
        </div>
        <div class="content">
            <h4> <%= post.content %></h4>
        </div>
        <div class="pop-container">
            <a href="http://localhost:8080/posts">
                <i class="fa-solid fa-arrow-left arrow"></i>
            </a>
            <div class="hid">Back</div>
        </div>
    </div>
    <script>
        let count = 1;
        let bd = document.querySelector("body");
        let theme = document.querySelector(".theme");
        let heading = document.querySelector("h1");
        let posts = document.querySelector(".post");
        let user = document.querySelector(".user")
        theme.addEventListener("click", function () {
        count++;
        console.log(count);
    
        // Toggle theme based on count
        if (count %2== 0) {
            bd.style.backgroundColor =`#FFEDFA`;
            heading.style.color =`#EC7FA9`;
            posts.style.backgroundColor= `#FFB8E0`;
            user.style.backgroundColor= `#BE5985`;

            
        } else {
            bd.style.backgroundColor = '#D1F8EF';
            heading.style.color =`#3674B5`;
            posts.style.backgroundColor= `#A1E3F9`;
            user.style.backgroundColor= `#578FCA`;


        }
    });

    </script>
</body>
</html>