<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Details</title>
</head>
<body>
    <span class ="theme">
        <i class="fa-solid fa-circle-half-stroke">Theme</i>
    </span>
    <h1>Here is your Note in detail</h1>
    <p style="text-decoration: solid black underline;"> Note id: <%= post.id  %></p>
    <div class="post">
        <div class="user" style="position: relative; top: -27px;">
            <h3> <%= post.username %></h3>
        </div>
        <div class="content">
            <h4> <%= post.content %></h4>
        </div>
        <div class="pop-container">
            <a href="http://localhost:8080/posts">
                <i class="fa-solid fa-arrow-left arrow"></i>
            </a>
            <div class="hid">Back</div>
        </div>
    </div>
<script src="/app.js"></script>
</body>
</html>