body{
    background-color: #D1F8EF;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3674B5;
    text-decoration: solid #393E46 underline;
}

.post{
    background-color: #A1E3F9;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 5px;
    width: 50rem;
    height: 22rem;
    margin:auto;
    margin-bottom: 10px;
    border-radius: 30px;
}

.user{
    font-family: italic;
    background-color: #578FCA;
    color: white;
    text-align: center;
    height: 2rem;
    font-size: 1.5rem;
    position: relative;
    top: 15px;
}

.content{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    height: 10rem;
    margin-top: 1.4rem;
}

a{
    text-decoration: none;
    color: #393E46;
    text-align: center;
    font-size: 1.5rem;
    margin: 10px;
}

.achor{
    text-align: end;
    z-index: 1;
    /* position: relative;
    top: 2.3rem; */
}

.delete{
    margin-left: 10px;
    margin-bottom: 10px;
}

p{
    text-align: center;
    font-size: 1.3rem;
}

.edit_content{
    text-align: center;

}

.container{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    background-color: #A1E3F9;
    border-radius: 10px;
    width: 75vh;

}
.add{
    text-align: center;
    width: 25vh;
}
.pop-container {
    position: relative;
    display: inline-block;
}

.hid {
    display: none;
    opacity: 0.7;
    position: absolute;
    transform: translateX(-10px); /* Move it slightly left initially */
    transition: opacity 3s ease-in-out, transform 0.3s ease-in-out; /* Smooth effect */
    border: 1px solid black;
    font-size: 1rem;
    width: 4rem;
    background-color: white;
    border-radius: 4px;
    padding: 2px;
    text-align: center;
}

.pop-container:hover .hid {
    display: block;
    transform: translateX(0); 
}
.theme{
    display: flex;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}